/* DARK THEME */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

ion-content {
    --background: #242424;
    --color: #cfcfcf;
    --padding-bottom: 5em;
}

ion-list, ion-item, ion-label {
    --background: #242424;
    --color: #cfcfcf;
}

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
}


/* LIGHT THEME */

@media (prefers-color-scheme: light) {
  :root {
      color: #213547;
      background-color: #fff;
  }
  
  button {
      background-color: #f9f9f9;
  }

  ion-content {
      --background: #fff;
      --color: #242424;
  }
  
  ion-list, ion-item, ion-label {
      --background: #fff;
      --color: #242424;
  }
}

/* RESPONSICE STYLING THEME */

@media screen and (max-width: 500px) and (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
}

@media screen and (max-width: 500px) and (prefers-color-scheme: dark) {
  :root {
    background-color: #1b1b1b;
  }
}

